<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>x</key>
                <integer>522</integer>
		<key>y</key>
                <integer>394</integer>
	</dict>
	<dict>
		<key>x</key> 
                <integer>588</integer>
		<key>y</key>
                <integer>266</integer>
	</dict>
	<dict>
		<key>x</key> 
                <integer>396</integer>
		<key>y</key>
                <integer>266</integer>
	</dict>
	<dict>
		<key>x</key> 
                <integer>396</integer>
		<key>y</key>
                <integer>512</integer>
	</dict>
        <dict>
		<key>x</key> 
                <integer>711</integer>
		<key>y</key>
                <integer>512</integer>
	</dict>
	<dict>
		<key>x</key> 
                <integer>711</integer>
		<key>y</key>
                <integer>150</integer>
	</dict>
	<dict>
		<key>x</key> 
                <integer>268</integer>
		<key>y</key>
                <integer>150</integer>
	</dict>
	<dict>
		<key>x</key> 
                <integer>268</integer>
		<key>y</key>
                <integer>342</integer>
	</dict>
        <dict>
		<key>x</key> 
                <integer>268</integer>
		<key>y</key>
                <integer>598</integer>
	</dict>
	<dict>
		<key>x</key>
                <integer>460</integer>
		<key>y</key>
                <integer>686</integer>
	</dict>
	<dict>
		<key>x</key>
                <integer>652</integer>
		<key>y</key>
                <integer>686</integer>
	</dict>
	<dict>
		<key>x</key>
                <integer>839</integer>
		<key>y</key>
                <integer>512</integer>
	</dict>
        <dict>
                <key>x</key>
                <integer>839</integer>
                <key>y</key>
                <integer>331</integer>
        </dict>
        <dict>
                <key>x</key>
                <integer>839</integer>
                <key>y</key>
                <integer>150</integer>
        </dict>
        <dict>
                <key>x</key>
                <integer>140</integer>
                <key>y</key>
                <integer>150</integer>
        </dict>
        <dict>
                <key>x</key>
                <integer>20</integer>
                <key>y</key>
                <integer>268</integer>
        </dict>
        <dict>
                <key>x</key>
                <integer>84</integer>
                <key>y</key>
                <integer>396</integer>
        </dict>
        
</array>
</plist>
